body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
}
header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ff9933;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ff9933;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #ff9933;
    color: #000;
}
.hero h1 {
    font-size: 2.5em;
}
.carousel {
    padding: 30px 0;
    text-align: center;
    background-color: #fff;
}
.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-images img {
    width: 300px;
    height: auto;
    max-height: 300px;
    display: none;
    object-fit: cover;
}
.carousel-images img:first-child {
    display: block;
}
.features, .contact, .about, .motivational {
    padding: 50px 0;
    text-align: center;
}
.features div, .contact form {
    margin-bottom: 30px;
}
.features div {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ff9933;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.features h3 {
    color: #ff9933;
}
.about-content, .motivational-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ff9933;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.about-text, .motivational-text {
    width: 50%;
    text-align: left;
}
.about-image, .motivational-image {
    width: 40%;
}
.about-image img, .motivational-image img {
    width: 100%;
    border-radius: 10px;
}
.motivational-text p {
    font-style: italic;
    color: #ff9933;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}
form button {
    padding: 10px 20px;
    background-color: #ff9933;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #e68a00;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff9933;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.cta-button:hover {
    background-color: #e68a00;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.input-group .material-icons {
    color: #ff9933;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .hero h1 {
        font-size: 2em;
    }
    .about-content, .motivational-content {
        flex-direction: column;
    }
    .about-text, .motivational-text, .about-image, .motivational-image {
        width: 100%;
        margin-bottom: 20px;
    }
}

